<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the App Component</h3>
      <hr />
      <app-servers></app-servers>
      <app-succes-alert></app-succes-alert>
      <app-warning-alert></app-warning-alert>
      <br />

      <input [(ngModel)]="username" />
      <p>{{ username }}</p>

      <button
        [disabled]="username !== '' ? this.isDisabled : !this.isDisabled"
        (click)="resetUsername()"
      >
        Click ME
      </button>
      <br />
      <h2>Another assignemnt</h2>

      <button (click)="toggleParagraph()">Display Details</button>
      <p *ngIf="showParagraph">Secret Password = tuna</p>
      <ul *ngFor="let click of clicksArray">
        <li
          :key="click"
          [ngStyle]="{ backgroundColor: click >= 5 ? 'blue' : 'transparent' }"
          [ngClass]="{ 'white-text': click >= 5 }"
        >
          {{ click }}
        </li>
      </ul>
    </div>
  </div>
</div>
