<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Navbar header -->
    <a class="navbar-brand" href="#">Navbar Header</a>

    <!-- Nav items -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shopping List</a>
      </li>
    </ul>

    <!-- Dropdown on the right side -->
    <div class="d-flex">
      <div class="dropdown">
        <a
          class="btn btn-secondary dropdown-toggle"
          role="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Manage
      </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Save Data</a></li>
          <li><a class="dropdown-item" href="#">Fetch Data</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
